#all {
  padding-top: 100px;
}
.weather {
  padding: 50px;
  border: 1px solid #dadde1;
  border-radius: 25px;
}
.info {
  list-style-type: none;
  display: block;
}
.date {
  list-style-type: none;
}
#search-btn {
  margin-left: 10px;
}
